<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default uk-card-body" id="fourth-section">
                <h3 id="fourth-section-title">Reconocimiento</h3>
            </div>
        </div>
    </div>



    <div class="uk-child-width-1-1@s uk-grid-match blog" id="DGparentDiv" uk-grid>
        <div style="text-align: center; ">
            <div class="uk-card uk-card-default uk-card-body" id="fourth-subsection">
                <p id="fourth-subsection-title" style="font-weight: 300; color:#525252;">Comprometidos con la comunidad!
                </p>
            </div>
        </div>

        <div style="text-align: center; padding-bottom:20px;">

            <div class="uk-child-width-1-2@s uk-grid-small uk-grid-match uk-text-center" uk-grid
                style="background-color: white;">
                <div style="padding-top: 20px;">
                    <h4 style="padding: 0; margin: 0;">Advanced Analytics</h4>
                    <h4 style="padding: 0; margin: 0;">CoP Highlights</h4>
                    <p style="font-size:x-small">Reconocimiento a los data scientist con mayor participación en la
                        comunidad en el último mes.</p>
                    <ul class="uk-list uk-list-divider">
                        <li style="font-size: 14px;" style="padding-bottom: 5px;">
                            <div class="uk-width-auto" style="padding-top: 15px; padding-bottom: 5px;">
                                <img class="uk-border-circle" width="50" height="50" src="img/yuri-lingan.jpg">
                            </div>
                            Yuri Lingan
                        </li>
                        <li style="font-size: 14px;" style="padding-bottom: 5px;">
                            <div class="uk-width-auto" style="padding-top: 15px; padding-bottom: 5px;">
                                <img class="uk-border-circle" width="50" height="50" src="img/Jimmy Salazar.PNG">
                            </div>
                            Jimmy Salazar
                        </li>
                        <li style="font-size: 14px;" style="padding-bottom: 5px;">
                            <div class="uk-width-auto" style="padding-top: 15px; padding-bottom: 5px;">
                                <img class="uk-border-circle" width="50" height="50" src="img/vidina-rivera.jpeg">
                            </div>
                            Vidina Rivera
                        </li>
                    </ul>
                </div>
                <div style="padding-top: 20px;">
                    <h4 style="padding: 0; margin: 0;">Data Governance</h4>
                    <h4 style="padding: 0; margin: 0;">CoP Highlights</h4>
                    <p style="font-size:x-small">Reconocimiento a los datos owners con mayor participación en la
                        comunidad en el último mes.</p>
                    <ul class="uk-list uk-list-divider">
                        <li style="font-size: 14px;" style="padding-bottom: 5px;">
                            <div class="uk-width-auto" style="padding-top: 15px; padding-bottom: 5px;">
                                <img class="uk-border-circle" width="50" height="50" src="img/cumple/Aleida Valle.PNG">
                            </div>
                            Aleida Valle
                        </li>
                        <li style="font-size: 14px;" style="padding-bottom: 5px;">
                            <div class="uk-width-auto" style="padding-top: 15px; padding-bottom: 5px;">
                                <img class="uk-border-circle" width="50" height="50" src="img/7-Ines Delgado.PNG">
                            </div>
                            Inés Delgado
                        </li>
                        <li style="font-size: 14px;" style="padding-bottom: 5px;">
                            <div class="uk-width-auto" style="padding-top: 15px; padding-bottom: 5px;">
                                <img class="uk-border-circle" width="50" height="50" src="img/vidina-rivera.jpeg">
                            </div>
                            Vidina Rivera
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-child-width-1-1@s uk-grid-match blog" id="DGparentDiv" uk-grid>

        <div>
            <div style="text-align: center; padding-bottom: 10px;">
                <div class="uk-card uk-card-default uk-card-body" id="fourth-subsection">
                    <p id="fourth-subsection-title" style="font-weight: 300; color:#525252;">Cumpleaños y Aniversarios
                        de Septiembre y Octubre!</p>
                </div>
            </div>

            <script>
                $(function () {
                    $("#birhday").load("birthday.html");
                });
            </script>
            <div id="birhday"></div>
        </div>
    </div>