<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Third Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="third-section">
                <h3 id="third-section-title">¿Sabias qué?</h3>
            </div>
        </div>
    </div>

    <div class="uk-child-width-1-2@s uk-grid-match blog" id="ADparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/javier zarate.jpeg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Javier Zárate</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                            <p class="uk-text-meta uk-margin-remove-top">javier.zarate@bbva.com</p>
                        </div>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/21-Paola Fonseca.PNG">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Paola Fonseca</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                            <p class="uk-text-meta uk-margin-remove-top">paola.fonseca@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Modelo de Gobierno de reportes Red
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        Desde junio, como parte de la iniciativa del War Room sobre la optimización de la reportería de
                        la red - banca comercial, se trabajó con equipos multidisciplinarios las diversas aristas de la
                        estrategia de BI hacia la red. A través de mesas de trabajo 360 se detectaron las oportunidades
                        de mejora siendo una de ellas un modelo de gobierno que ayude a la sostenibilidad de la
                        iniciativa en el largo plazo.

                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1IN5CR3FS8Pm5GUp5_5Ghpadi-ASOTpaEZMzRq2wiQz8/edit?usp=sharing"
                        class="uk-button uk-button-text buttonSQ" id="sq-ed4-1" style="font-weight: 500;"
                        target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="60" height="60" src="img/javier-vilcapoma.jpg">
                            </div>
                            <div class="uk-width-expand name">
                                <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Javier
                                    Vilcapoma
                                </p>
                                <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                                <p class="uk-text-meta uk-margin-remove-top">javier.vilcapoma@bbva.com</p>
                            </div>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="60" height="60"
                                    src="img/maria alejandra huamani.jpeg">
                            </div>
                            <div class="uk-width-expand name">
                                <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Maria Alejandra
                                    Huamaní
                                </p>
                                <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Discipline
                                    Manager A.A. T&C</p>
                                <p class="uk-text-meta uk-margin-remove-top">maria.huamani@bbva.com</p>
                            </div>
                            <div>
                                <h4 class="uk-margin-remove-bottom">Data Challenge Covid19 T&C
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p class="large-text">
                            Ante la coyuntura de la pandemia ocasionada por el COVID-19, el impacto en las diversas
                            geografías es notorio, y Perú se encuentra entre los TOP 10 países con mayores muertes. Si
                            bien podemos notar una ligera desaceleración respecto a la cantidad de contagiados, no
                            debemos olvidar la segunda ola que se está presentando en el continente Europeo. Por este
                            motivo, el BBVA a través de las áreas de T&C y Data plantearon el Data Challenge COVID19
                            cuyo objetivo es identificar los factores clave para determinar la propensión de contagio y
                            así hacer KO al COVID19.
                        </p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="https://docs.google.com/document/d/1sW_4_o_N643H022NdtvJdKR7Y5u7aRezHes-BAH6zBw/edit?usp=sharings"
                            class="uk-button uk-button-text buttonSQ" id="sq-ed4-2" style="font-weight: 500;"
                            target="_blank">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="60" height="60" src="img/ana_paula.png">
                            </div>
                            <div class="uk-width-expand name">
                                <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">
                                    Ana Paula Tamayo
                                </p>
                                <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                                <p class="uk-text-meta uk-margin-remove-top">ana.tamayo.lee@bbva.com</p>
                            </div>

                            <div>
                                <h4 class="uk-margin-remove-bottom">Lo nuevo de la analítica a nivel global en el BBVA:
                                    DTP Demo Day 3Q20

                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p class="large-text">
                            En línea a seguir contribuyendo al logro de las 6 prioridades estratégicas y la
                            transformación basada en datos en BBVA, se desarrollaron diversos proyectos a nivel global.
                            Por ello, el pasado Martes, 13 de Octubre del presente año se realizó la segunda edición
                            virtual del Data Transformation Portfolio Demo Day correspondiente al Q3 del 2020 con el fin
                            de dar a conocer los avances.Cabe resaltar la participación de Perú con el proyecto “Cálculo
                            y análisis de KPIs de rentabilidad” (prioridad estratégica: Data & Technology) representando
                            al dominio de Finanzas.
                        </p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="https://docs.google.com/document/d/1AzIEkJEiM4Xh_aA1YlEFjkuUlX3_gkpoZhsQQVnrAS4/edit?usp=sharing"
                            class="uk-button uk-button-text buttonSQ" id="sq-ed4-3" style="font-weight: 500;"
                            target="_blank">Leer más</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        function checkWidthAD() {
            var w = window.innerWidth
            var h = window.innerHeight

            if (w < 920) {
                var aaDIV = document.getElementById("ADparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else {
                var aaDIV = document.getElementById("ADparentDiv")
                aaDIV.classList.add("uk-child-width-1-2@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function () {
            checkWidthAD();
        })
        window.addEventListener("resize", function () {
            checkWidthAD();
        });        
    </script>

</body>