<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Second Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default uk-card-body" id="second-section">
                <h3 id="second-section-title">Data Governance</h3>
            </div>
        </div>
    </div>
    <!-- Second Section Description Cards -->
    <div class="uk-child-width-1-2@s uk-grid-match blog" id="DGparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/javier-vilcapoma.jpg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Javier Vilcapoma
                            </p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                            <p class="uk-text-meta uk-margin-remove-top">javier.vilcapoma@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Dashboard Portal de Calidad</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        Con el objetivo de visualizar el cumplimiento de las reglas de calidad implementadas en
                        Hammurabi durante la ingesta de datos en Datio, Holding disponibilizo a las geografías el portal
                        de calidad. Este dashboard nos muestra uno a uno la definición de reglas de calidad y su grado
                        de cumplimiento. En este artículo tendremos se dara un vistazo general sobre este portal.

                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1Af4uHuRmmM_4gqwGu_pD2zZ5FPU8QC0I_ecmpxbk4EI/edit?usp=sharing"
                        class="uk-button uk-button-text buttonDG" id="dg-ed4-1" style="font-weight: 500;"
                        target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/anthony_leyton.jpeg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Anthony Leyton
                            </p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Client Solutions
                            </p>
                            <p class="uk-text-meta uk-margin-remove-top">anthony.leyton@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Campaña de Actualización de Datos de Contacto</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        La campaña de actualización de datos nace como una iniciativa que busca mejorar las
                        comunicaciones entre el banco y sus clientes a través de los diferentes medios (Mailing, SMS,
                        Llamadas, Push, Pauta, etc). Existen ciertos fenómenos, casi imperceptibles, que generan
                        dinamismo en la eficacia de los datos de contacto, como por ejemplo: la aparición de nuevas
                        redes sociales, cambiar de número telefónico o de operador y desusar un correo electrónico. Ante
                        lo anterior, es imprescindible generar hábitos o impulsar acciones de actualización de datos de
                        contacto que nos permitan contar con los mejores canales de comunicación para nuestros clientes
                        y de este modo mejorar la experiencia con el banco.

                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1HNN50qpULUNEi8rEZoUOsqYKdV3b2sajyMz5VtEISWM/edit?usp=sharing"
                        class="uk-button uk-button-text buttonDG" id="dg-ed4-2" style="font-weight: 500;"
                        target="_blank">Leer más</a>
                </div>
            </div>
        </div>

    </div>
    <script>
        function checkWidthDG() {
            var w = window.innerWidth
            var h = window.innerHeight

            if (w < 920) {
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")

                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else {
                var aaDIV = document.getElementById("DGparentDiv")
                aaDIV.classList.add("uk-child-width-1-2@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function () {
            checkWidthDG();
        })
        window.addEventListener("resize", function () {
            checkWidthDG();
        });        
    </script>


</body>