<head>
    <!-- Import local styles-->
    <link rel="stylesheet" href="css/aa.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-167171727-2');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- First Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="first-section">
                <h3 id="first-section-title">Advanced Analytics</h3>
            </div>
        </div>
    </div>

     <!-- First Section Description Cards -->
        <!-- First Section 1 info -->

    <div class="uk-child-width-1-2@s uk-grid-match blog" id="AAparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/marlo_miranda.jpeg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Marlo Miranda</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Riesgos</p>
                            <p class="uk-text-meta uk-margin-remove-top">marlo.miranda@bbva.com </p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Segmentación de clientes para la toma de decisiones en la Gestión de Cobranzas</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">
                        La Gestión de Cobranzas utiliza diversas estrategias para mantener los créditos de los clientes al día. Uno de los principales criterios para el desarrollo de estas estrategias es la segmentación de clientes.  Debido a esto, los modelos analíticos desarrollados buscan precisar esta segmentación de clientes identificando a aquellos que son más propensos a retrasarse cuando están al día o recuperarse cuando están atrasados.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1FJSV-c-4WyBr5w_E5VfJzlaE4i9QS5SnFWLoKlPCPxo/edit?usp=sharing" class="uk-button uk-button-text buttonAA" id="aa-ed2-1" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/linda_anicama.jpeg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Linda Anicama</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist CS</p>
                            <p class="uk-text-meta uk-margin-remove-top">linda.anicama@bbva.com</p>
                        </div>
                        
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/raul_rivero.jpeg">
                        </div>                        
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Raul Rivero</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist CS</p>
                            <p class="uk-text-meta uk-margin-remove-top">raul.rivero@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Web Scraping, una oportunidad para la mejora en la generación de leads comerciales</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">El proyecto de web scraping nació como una necesidad de recolectar información para la evaluación de nuestros clientes y ofrecerles mejores ofertas. Se han desarrollado scripts en Python utilizando conocidas librerías como Request y BeautifulSoup, además de Tesseract OCR para la resolución de algunos captcha. Estos programas se mantienen activos en un servidor disponibilizado por Arquitectura, donde no solo recolecta y limpia la información sino que diariamente se genera un archivo listo para su ingesta en Datio
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1M5Dwl5jszUjvPd0ZO1dhCNYsSk65t7KK33gdospn4s8/edit?usp=sharing" class="uk-button uk-button-text buttonAA" id="aa-ed2-2" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/marcelo_arakaki.jpeg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Marcelo Arakaki </p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist CS</p>
                            <p class="uk-text-meta uk-margin-remove-top">marcelo.arakaki@bbva.com </p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Automatización del seguimiento de campañas de persona natural</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>
                        Todo proceso para gestionar, se requiere la capacidad de controlar. Para poder controlar un proceso, necesitamos disponer de los indicadores claves de los procesos de manera sencilla y oportuna para generar acciones. Por tal motivo, como parte del equipo de Client Solutions, para el piloto de Microstrategy en DATIO, hemos propuesto la migración del reporte operativo de seguimiento de campañas de adquisición y portafolio gestionadas por la red de oficinas.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1hfLeftk_Gvmv2aB0_akd_MGf-XDD8DZGazPSbKbOgjE/edit?usp=sharing" class="uk-button uk-button-text buttonAA" id="aa-ed2-3" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/yuri-lingan.jpg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Yuri Lingan </p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Data Scientist Finanzas</p>
                            <p class="uk-text-meta uk-margin-remove-top">yuri.lingan@bbva.com </p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Proyección de Saldos de Inversión Rentable en contexto de COVID-19</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>
                        En el actual contexto de crisis que venimos viviendo, no cabe duda que el Sistema Financiero está siendo muy afectado. Desde la CoE Finanzas queremos evaluar este impacto, realizando una estimación de los saldos en los dos próximos años. Para ello estamos haciendo uso de modelos, que en base a la representatividad de variables macroeconómicas; simularán el crecimiento de nuestra cartera de créditos.

                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1VSivD5CNqErx2entLZVn5Xl2w3Rurye1i6EXdBaV4U4/edit?usp=sharing" class="uk-button uk-button-text buttonAA" id="aa-ed2-4" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/LOGO_luigi.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Newsletter Global</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;"></p>
                            <p class="uk-text-meta uk-margin-remove-top"></p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Encuentra artículos de otras geografías en la Newsletter Global de Advanced Analytics #18<h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>Les recomendamos leer la newsletter global de advanced analytics que en esta ocasión hay historia de mentores, modelos de fugas de pld, una nueva librería para análisis de datos a través de grafos y mucho más.
                        Es grato comentar que 3 compañeros de Perú han participado de esta edición!
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://prensabbva.s3.amazonaws.com/2020/NewsletterAdvanceAnalytics/N18/NEWSLETTER_AA_18_SP.html" class="uk-button uk-button-text buttonAA" id="aa-ed2-5" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

    </div>
    <script>
        function checkWidth(){
            var w = window.innerWidth
            var h = window.innerHeight
            if(w < 500){
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")
                            
                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

                var names = document.getElementsByClassName("name")
                //console.log(names, names.length)
                for (var j = 0; j < names.length; j++){
                    item = names[j]
                    item.classList.add("hiddenStyle")
                    item.classList.remove("showStyle")
                }
            }
            else if (w<920){
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")
                            
                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }
                var names = document.getElementsByClassName("name")
                //console.log(names, names.length)
                for (var i = 0; i < names.length; i++){
                    item = names[i]
                    item.classList.remove("hiddenStyle")
                    item.classList.add("showStyle")
                }
            }
            else{
                var aaDIV = document.getElementById("AAparentDiv")
                aaDIV.classList.add("uk-child-width-1-2@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
                var names = document.getElementsByClassName("name")
                //console.log(names, names.length)
                for (var i = 0; i < names.length; i++){
                    item = names[i]
                    item.classList.remove("hiddenStyle")
                    item.classList.add("showStyle")
                }
            }
        }
        $(document).ready(function(){
            checkWidth();
        })
        window.addEventListener("resize", function(){
            checkWidth();
        });
       
    </script>

</body>