<head>
    <!-- Import local styles-->
    <link rel="stylesheet" href="css/aa.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-167171727-2');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- Third Section Description Banner -->
    <div class="uk-grid-collapse uk-text-center section-title" uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default  uk-card-body" id="third-section">
                <h3 id="third-section-title">¿Sabias qué?</h3>
            </div>
        </div>
    </div>

    <div class="uk-child-width-1-2@s uk-grid-match blog" id="ADparentDiv" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/javier zarate.jpeg">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Javier Zárate</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                            <p class="uk-text-meta uk-margin-remove-top">javier.zarate@bbva.com</p>
                        </div>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/ana_paula.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Ana Paula Tamayo</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                            <p class="uk-text-meta uk-margin-remove-top">ana.tamayo.lee@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Primera formación virtual Data Specialist BBVA</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">Dada la coyuntura actual, se tuvo que cancelar las diferentes formaciones presenciales en el banco, donde la disciplina de Data no fue excepción. Ante este contexto, desde la geografía de Perú, se impulsó en tener la primera formación virtual de Data Specialist Fundamentals, de más de 120 horas. Junto con formación Perú, Data holding y proveedor se hizo realidad. Los resultados han sido positivos y se está aplicando en las demás geografías del grupo</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1LqGQUYxYiDfaILBJ2c2HthTh1HvQNBY7vpqHfgNRUGk/edit?usp=sharing" class="uk-button uk-button-text buttonSQ" id="sq-ed2-1" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="img/ana_paula.png">
                        </div>
                        <div class="uk-width-expand name">
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">Ana Paula Tamayo</p>
                            <p class="uk-text-meta uk-margin-remove-top" style="margin-bottom: 0px;">DPM</p>
                            <p class="uk-text-meta uk-margin-remove-top">ana.tamayo.lee@bbva.com</p>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Proyectos Analíticos BBVA en la Data Demo Day Q2-2020</h4>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class="large-text">El pasado 08 de Julio  se llevó a cabo el  Data Transformation Portfolio  Demo day correspondiente al Q2 de este año , el cual, tiene como  objetivo dar a conocer de manera transversal los  proyectos analíticos que se han desarrollado en diferentes geografías en las cuales tiene presencia el BBVA.
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://docs.google.com/document/d/1AzIEkJEiM4Xh_aA1YlEFjkuUlX3_gkpoZhsQQVnrAS4/edit?usp=sharing" class="uk-button uk-button-text buttonSQ" id="sq-ed2-2" style="font-weight: 500;" target="_blank">Leer más</a>
                </div>
            </div>
        </div>
     </div>
     <script>
          function checkWidthAD(){
            var w = window.innerWidth
            var h = window.innerHeight
            
            if (w<920){
                var aaDIV = document.getElementById("ADparentDiv")
                aaDIV.classList.remove("uk-child-width-1-2@s")
                aaDIV.classList.add("uk-child-width-1-1@s")
                var texts = document.getElementsByClassName("large-text")
                            
                for (var i = 0; i < texts.length; i++) {
                    texts[i].style.overflow = "hidden"
                }

            }
            else{
                var aaDIV = document.getElementById("ADparentDiv")
                aaDIV.classList.add("uk-child-width-1-2@s")
                aaDIV.classList.remove("uk-child-width-1-1@s")
            }
        }
        $(document).ready(function(){
            checkWidthAD();
        })
        window.addEventListener("resize", function(){
            checkWidthAD();
        });        
     </script>
        
</body>
