<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167171727-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-167171727-2');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGVZLLQ');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGVZLLQ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div style="text-align: center; padding-bottom: 100px;">
        <a class="uk-button uk-button-default" href="#modal-full" style="background-color: #ff93b8;" id="ack-ed2-2" uk-toggle>
            Mira quiénes cumplen años y/o aniversarios
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="img/birthday.png">
            </div>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="img/anniversary.png">
            </div>
        </a>

        <div id="modal-full" class="uk-modal-full" uk-modal>
            <div class="uk-modal-dialog" style="background-color: white; height: 100vh;">
                <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                    <div class="uk-text-center" uk-grid>
                        <div class="uk-child-width-1-1@s uk-grid-small uk-text-center" uk-grid style="background-color: white;">
                            <h1 style="">Cumpleaños</h1>
                        </div>    
                    </div>

                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match birthdayCard" uk-grid style="background-color: white;">
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Christian Palomino.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Christian Palomino</p>
                                    <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Gianfranco Arce Roel.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Gianfranco Arce Roel</p>
                                    <p class="" style="margin: 0; padding: 0;">CIB</p>
                                    <p class="" style="margin: 0; padding: 0;">2 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Jose Francias Orrego.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Jose Orrego</p>
                                    <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                    <p class="" style="margin: 0; padding: 0;">4 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Ana Maria Canales.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Ana María Canales</p>
                                    <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                    <p class="" style="margin: 0; padding: 0;">6 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Juan Carlos Davey.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Juan Carlos Davey</p>
                                    <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                    <p class="" style="margin: 0; padding: 0;">10 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/claudia_acuna.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Claudia Acuña</p>
                                    <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                    <p class="" style="margin: 0; padding: 0;">10 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match birthdayCard" uk-grid style="background-color: white;">
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Antony Escobar.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Antony Escobar</p>
                                    <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                    <p class="" style="margin: 0; padding: 0;">11 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Brenda Alejandra Pizarro.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Brenda Pizarro</p>
                                    <p class="" style="margin: 0; padding: 0;">CIB</p>
                                    <p class="" style="margin: 0; padding: 0;">11 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Omar Huamani.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Omar Huamaní</p>
                                    <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                    <p class="" style="margin: 0; padding: 0;">12 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Enrique Migoya Perez-Accino.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Enrique Migoya</p>
                                    <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                    <p class="" style="margin: 0; padding: 0;">13 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Juan Wilder Romero.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Juan Romero</p>
                                    <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                    <p class="" style="margin: 0; padding: 0;">17 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Jair Loayza Suasnabar.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Jair Loayza</p>
                                    <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                    <p class="" style="margin: 0; padding: 0;">18 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match birthdayCard" uk-grid style="background-color: white;">
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Adriana Margarita Arrue.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Adriana Arrue</p>
                                    <p class="" style="margin: 0; padding: 0;">CIB</p>
                                    <p class="" style="margin: 0; padding: 0;">20 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Jonatham Edison Rivero.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Jonathan Rivero</p>
                                    <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                    <p class="" style="margin: 0; padding: 0;">20 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Aldo Oshiro.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Aldo Oshiro</p>
                                    <p class="" style="margin: 0; padding: 0;">Ingeniería</p>
                                    <p class="" style="margin: 0; padding: 0;">22 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Javier Alejandro Acosta.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Javier Acosta</p>
                                    <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                    <p class="" style="margin: 0; padding: 0;">24 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Elier Ayzaguirre.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Elier Eyzaguirre</p>
                                    <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                    <p class="" style="margin: 0; padding: 0;">24 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Ana Kishimoto.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Ana Kishimoto</p>
                                    <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                    <p class="" style="margin: 0; padding: 0;">25 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match birthdayCard" uk-grid style="background-color: white;">
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Rafael Villegas.JPG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Rafael Villegas</p>
                                    <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                    <p class="" style="margin: 0; padding: 0;">25 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Jean Leon Ichpas.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Leonardo Ichpas</p>
                                    <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                    <p class="" style="margin: 0; padding: 0;">28 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Aleida Valle.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Aleida Valle</p>
                                    <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                    <p class="" style="margin: 0; padding: 0;">28 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Giuliana Olivares.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Giuliana Olivares</p>
                                    <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                    <p class="" style="margin: 0; padding: 0;">30 de julio</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/birthday.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Cumpleaños!</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="uk-text-center" uk-grid style="background-color: white; margin: 0; padding-top: 50px;">
                        <div class="uk-child-width-1-1@s uk-grid-small uk-text-center" uk-grid style="background-color: white;">
                            <h1 style="">Aniversarios</h1>
                        </div>    
                    </div>
                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid style="background-color: white; margin: 0; padding-top: 15px;">  
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Brian Jordi Avila.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Brian Jordi</p>
                                    <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de Julio - 4 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>

                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Jose Luis Huertas.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Jose Luis Huertas</p>
                                    <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de Julio - 2 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Nelson Davis Orizano.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Nelson Orizano</p>
                                    <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de julio - 3 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Giuliana Olivares.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Giuliana Olivares</p>
                                    <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de Julio - 12 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/claudia_acuna.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Claudia Acuña</p>
                                    <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de julio - 9 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div class="birthdayCard">
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Karina Patricia Vargas.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Karina Vargas</p>
                                    <p class="" style="margin: 0; padding: 0;">CIB</p>
                                    <p class="" style="margin: 0; padding: 0;">1 de julio - 11 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    
                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid style="background-color: white; margin: 0; padding-top: 15px;">  
                        <div >
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Eddy Ernesto Rodrigez.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Eddy Rodriguez</p>
                                    <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                    <p class="" style="margin: 0; padding: 0;">5 de Julio - 10 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div >
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Sofia Fabiola Cornejo.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Sofía Cornejo</p>
                                    <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                    <p class="" style="margin: 0; padding: 0;">11 de Julio - 4 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div >
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Nancy Ramirez.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Nancy Ramirez</p>
                                    <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                    <p class="" style="margin: 0; padding: 0;">14 de Julio - 17 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div >
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Jose Alfredo Jumenez.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Jose Jimenez</p>
                                    <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                    <p class="" style="margin: 0; padding: 0;">15 de Julio - 11 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div >
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Juan Fernandez Guillen.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Juan Fernandez</p>
                                    <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                    <p class="" style="margin: 0; padding: 0;">15 de Julio - 6 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                        <div >
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center ani-5" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Javier Vilca Caceres.jpg">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Javier Vilca</p>
                                    <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                    <p class="" style="margin: 0; padding: 0;">15 de Julio - 1 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid style="background-color: white; margin: 0; padding-top: 15px;">  
                        <div >
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Edward Patrick Wetzell Osorio.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Edward Wetzell</p>
                                    <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                    <p class="" style="margin: 0; padding: 0;">15 de Julio - 18 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid style="background-color: white; margin: 0; padding-top: 15px;">  
                        <div >
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Jesus Antonio Carrion.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Jesus Carrion</p>
                                    <p class="" style="margin: 0; padding: 0;">Client Solutions</p>
                                    <p class="" style="margin: 0; padding: 0;">15 de Julio - 6 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid style="background-color: white; margin: 0; padding-top: 15px;">  
                        <div >
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Alex Espino Gallegos.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Alex Espino</p>
                                    <p class="" style="margin: 0; padding: 0;">Riesgos</p>
                                    <p class="" style="margin: 0; padding: 0;">16 de Julio - 2 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-child-width-1-6@s uk-grid-small uk-grid-match" uk-grid style="background-color: white; margin: 0; padding-top: 15px;">  
                        <div >
                            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-align-center" style="text-align: center;">
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="50" height="50" src="img/cumple/Dianne Isabel Giraldo.PNG">
                                </div>
                                <div style="padding-top: 8px;">
                                    <p class="" style="margin: 0; padding: 0;">Dianne Giraldo</p>
                                    <p class="" style="margin: 0; padding: 0;">Finanzas</p>
                                    <p class="" style="margin: 0; padding: 0;">17 de Julio - 3 años en BBVA</p>
                                </div>
                
                                <div style="padding-top: 12px;">
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="50" height="50" src="img/anniversary.png">
                                    </div>
                                    <p class="" style="margin: 0; padding: 0;">Feliz Aniversario!</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>   
    </div>
</body>
